.masthead {
  height: 100vh;
  min-height: 500px;
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9AK7dMZ3rIHEBTOqk98QS7447_0F5Cpdqq0SLwc71FDOGNK5y');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
