<div class="modal-header">
  <h4 class="modal-title">Add User</h4>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-boy">
    <div class="container">
      <div class="form-group">
        <label>First Name</label>
        <input type="text"
               class="form-control"
               formControlName="firstname" placeholder="first name" [(ngModel)]="fname">
      </div>
      <div class="form-group">
        <label >Last Name</label>
        <input type="text" class="form-control" formControlName="lastname" placeholder="Last name" [(ngModel)]="lname">
      </div>
      <div class="form-group">
        <label>UserName</label>
        <input type="text" class="form-control" formControlName="username" placeholder="UserName" [(ngModel)]="uname">
      </div>
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" formControlName="city" placeholder="City" [(ngModel)]="city">
      </div>
      <div class="form-group">
        <label>Department</label>
        <input type="text" class="form-control" formControlName="department" placeholder="department" [(ngModel)]="department">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success"
            [disabled]="!myForm.valid">
      Save
    </button>
  </div>
</form>
