<html>
<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

<mat-table #table [dataSource]="dataSource" class="mat-table">
  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.firstName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.lastName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Username">
    <mat-header-cell *matHeaderCellDef mat-sort-header> UserName </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.Username}} </mat-cell></ng-container>

  <ng-container matColumnDef="city">
    <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.city}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="department">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Department </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.department}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="5" [pageSize]="3" [pageSizeOptions]="[5, 10, 25]">
  </mat-paginator>
  <br>
  <div>
    <button type="button" class="btn btn-primary md-button" (click)="openclick()">Add User</button>
  </div>
</div>
</html>

